.square-button {
  width: 2.5vmin;
  border: 0.1vmin solid white;
  height: 15vmax;
  display: flex;
  padding: 1vmax;
  justify-content: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.5ex;
  margin-top: 2vmin;
}

a:link {
  text-decoration: none;
}

.square-button p {
}
